@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", sans-serif;
}

.ql-editor ol {
  list-style-type: decimal !important;
  padding-left: 1.5rem;
}

.ql-editor ul {
  list-style-type: disc !important;
  padding-left: 1.5rem;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.mentions__suggestions__list {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  max-height: 150px;
  overflow-y: auto;
}

.mentions__suggestions__item {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
}

.mentions__suggestions__item--focused {
  background: #f3f4f6;
}